.article {
  &-link {
    color: initial;
  }

  &-image {
    width: 100%;
  }

  &-title {
    font-size: 1.5rem;
  }

  &-title,
  &-date {
    margin-bottom: 1rem;
  }

  &-description,
  &-date {
    display: block;
  }
}
