.article-card {
    border: solid #FC620A;
    border-width: 0 0 3px 3px;
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    width: 25%;
    transition: transform ease-in-out; //make variable
    transition-duration: 100ms; //make variable

    &:hover {
        transform: translateY(-5px);
    }

    img {
        width: 100%;
    }

    span {
        display: block;
    }
}