<nav>
    <div class="primary">
        <span>
            <h1>Your News</h1>
            <h3>News for Real People</h3>
        </span>
    </div>
    <div class="secondary">
        <ul>
            <li><a href="#">Today</a></li>
            <li><a href="#">Politics</a></li>
            <!--Nope-->
            <li><a href="#">Opinion</a></li>
            <!--Opinion generator-->
            <li><a href="#">Comics</a></li>
            <!--cool to get a web scraper for poorly drawn lines or sp-->
            <li><a href="#"></a></li>
        </ul>
    </div>
</nav>