<h2>Today in <input type="text" id="topic" name="topic" value="Space"></h2>
<!-- <button type="submit" class="submit">Submit</button> -->
<div class="content">
    <div class="articles-wrapper">
        <div class="articles">
            <ng-container *ngFor="let article of articles">
                <app-card [article]=article class="article-card"></app-card>
            </ng-container>
        </div>
    </div>

    <div class="headline-wrapper">
        <h3>Today's Headlines</h3>
        <div class="headline-thumbnails">
            <ng-container *ngFor="let headline of headlines">
                <app-thumbnail [headline]="headline" class="headline-thumbnail"></app-thumbnail>
            </ng-container>
        </div>
    </div>
</div>