h2 {
  padding: 1rem 2rem 0;
}

.content {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 1rem 2rem;

  .articles-wrapper,
  .headline-wrapper {
    vertical-align: top;
  }
}

.articles-wrapper {
  margin: 1rem 0;

  .articles {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    h2 {
      display: block;
    }

    .article-card {
      border: solid #fc620a;
      border-width: 0 0 3px 3px;
      display: inline-block;
      margin: 1rem;
      padding: 1rem;
      transition: transform ease-in-out;
      transition-duration: 100ms;

      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

.headline {
  &-wrapper {
    h2 {
      margin-bottom: 0.5rem;
    }

    h3 {
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
  }

  &-thumbnails {
    border: solid #fc620a;
    border-width: 3px;

    button {
      background: none;
      border: none;
    }
  }

  &-thumbnail {
    display: block;
    margin: 1rem 0.5rem;
  }
}
